<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{movie.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="text-center">
      <img src="../../../assets/img/movie_icon.png" alt=""/>
    </div>
    <hr/>
      <p class="text-center lead">{{movie.rating}}</p>
    <hr/>
        <span class="label label-default">Primary</span>
        <span class="label label-default">Primary</span>
        <span class="label label-default">Primary</span>
        <span class="label label-primary">Primary</span>
  </div>
</div>
