
<div class="well">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body image_container">
          <img src="../../../assets/img/movie_icon.png" alt="movie_poster">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Movie Title</h2>
      <hr/>
      <dl class="dl-horizontal">
        <dt>Overview</dt>
        <dd>A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression</dd>
        <dt>Genres</dt>
        <dd>
          <span class="label label-default">Primary</span>
          <span class="label label-default">Primary</span>
        </dd>
        <dt>Runtime</dt>
        <dd>120min</dd>
        <dt>Rating</dt>
        <dd>7.8</dd>
        <dt>Release Date</dt>
        <dd>1990-10-12</dd>
        <dt>Cast</dt>
        <dd>
          <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title lead">
              <a data-toggle="collapse" href="#collapse1" aria-expanded="false">Click To Show Cast</a>
            </p>
          </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                Panel content
              </div>
            </div>
        </div>
        </dd>
      </dl>
      <blockquote>How much can you know about yourself if you've never been in a fight?</blockquote>

    </div>
  </div>
</div>
