img {
  max-width: 200px;
  max-height: 200px;
}
dt {
  text-align: left;
}

hr {
  background-color: #e95420;
  height: 1px;
}

blockquote {
  border-left:5px solid #e95420 ;
}
.image_container {
  width: 345px;
  height: 350px;
  background: #eee;
  text-align: center;
  line-height: 300px;
}

.image_container img {
  vertical-align: middle;
}
