<strong><i class="glyphicon glyphicon-film"></i>  Never lose track of your favorite movies</strong>
<hr/>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3">
        <div class="jumbotron">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-md-9">
        <p><a class="btn btn-primary btn">Find Movie</a></p>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3">
        <div class="jumbotron">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-md-9">
        <p><a class="btn btn-primary btn">Add Movie</a></p>

      </div>
    </div>
  </div>
</div>