<div class="row">
  <div class="col-md-2">
    <strong><i class="glyphicon glyphicon-search"></i> Compare Movies</strong>
    <hr>
    <!-- Left column -->
    <ul class="nav nav-stacked">
      <li>
        <p>
          <strong>Search</strong>
          <input type="text" class="form-control" id="search" placeholder="Search term" [(ngModel)]="search_term">
        </p>
      </li>
      <li>
        <strong>Categories:</strong>
        <div class="checkbox" *ngFor="let category of categories">
          <label>
            <input type="checkbox"> {{category}}
          </label>
        </div>
      </li>
    </ul>
  </div>
  <!-- /col-3 -->
  <div class="col-md-10">
    <a href="/movies"><strong><i class="glyphicon glyphicon-th"></i> Movie Collection</strong></a>
    <hr>

    <div class="row">
      <!-- center left-->
      <div class="col-sm-12">
        <div class="form-inline pull-right">
          <strong>Sort By:</strong>
          <select id="sortby" class="form-control input-sm" [(ngModel)]="sort_rule">
            <option *ngFor="let sortrule of sort_options" [ngValue]="sortrule">{{sortrule}}</option>
          </select>
        </div>
      </div>
      <hr>
      <div class="col-sm-6 col-md-3"
           *ngFor="let movie of movies">
        <app-card [movie]="movie"></app-card>
      </div>


    </div>
    <!--/row-->

  </div>
</div>